*.in
*.la
*.lo
*.o
*.so
.*.swp
.deps
.libs
/INSTALL
/aclocal.m4
/autom4te.cache
/autom4te.cache
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
/test-driver
/test-suite.log
/test.sh.log
/test.sh.trs
Makefile
